.input {
  padding-right: 2.5rem;
}

.clear {
  background: none;
  border: none;
  color: var(--color-text-placeholder);
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
